<h1>AdminPictures#edit</h1>
<p>Find me in app/views/admin_pictures/edit.html.erb</p>

<%# Keep the previous blank line for pretty html formatting. %>
<%= div_for @picture do %>
<%=   form_tag( {:controller => 'admin_pictures', :action => 'update',
          :id => @picture.id}, :method => 'put') do %>
<%=     label_tag(:id, @picture.id) %><br />
<%=     label_tag(:filename, @picture.filename) %><br />
<%=     text_field_tag(:description, @picture.description) %><br />
<%=     text_field_tag(:year, @picture.year) %><br />
<%=     text_field_tag(:title, @picture.title) %><br />
<%=     submit_tag('update') %><br />
<%    end %>
<%  end # Picture. %>
