<h1>AdminPictures#edit</h1>
<p>Find me in app/views/admin_pictures/edit.html.erb</p>
<%= div_for @picture do %>
<%    form_proc = Proc.new do |f| %>
<%=     submit_tag if @edit_fields %>
<%=     content_tag :div, :class => 'thumbnail' do -%>
<%        s = @picture.filename
          extension = File.extname s %>
<%=       content_tag :a, :href => image_path(['gallery', s].join('/')) do -%>
<%=         image_tag ['gallery', s.chomp(extension) + '-t' + extension].
                join('/'), :alt => @picture.title -%>
<%        end # anchor %>
<%      end # div.thumbnail %>

<%# Keep the previous blank line for pretty html formatting. %>
<%=     content_tag :div, :class => 'filename' do -%>
<%=       @picture.filename
-%> &nbsp; (filename) <%
        end if @show_filename %>
<%=     content_tag :div, :class => 'title' do -%>
<%=       if @edit_fields
            f.text_field :title
          else
            @picture.title
          end
-%> &nbsp; (title) <%
        end %>
<%=     content_tag :div, :class => 'description' do -%>
<%=       if @edit_fields
            f.text_field :description
          else
            @picture.description
          end
-%> &nbsp; (description) <%
        end %>
<%=     content_tag :div, :class => 'year' do -%>
<%        if @edit_fields %>
<%=         f.text_field :year %>
<%        else %>
<%=            @picture.year %>
<%        end
-%> &nbsp; (year) <%
        end %>
<%    end # form_proc %>
<%    if @edit_fields %>
<%=     form_for :picture, @picture, :url => {:controller => 'admin_pictures',
          :action => 'update', :id => @picture.id},
          :html => {:method => 'put'}, &form_proc %>
<%    else %>
<%=     form_for :picture, @picture, :url => {:controller => 'admin_pictures',
          :action => :show, :id => @picture.id},
          :html => {:method => 'get'}, &form_proc %>
<%    end %>
<%=   content_tag :div, :class => 'edit' do -%>
<%=     button_to 'edit', {:controller => :admin_pictures, :action => :edit,
            :id => @picture.id}, :method => :get -%>
<%    end if @editable -%>
<%  end # div.picture %>
