<%# %%vi%%lay%%app -%>
<!DOCTYPE html>
<html><head>
<title>Gallery</title>
<%= render :partial => 'application/scripts' -%>
<%= render :partial => 'application/styles' -%>
</head><body>
<%= render :partial => 'application/messages' -%>
<%= render :partial => 'application/buttons' -%>
<%= render :partial => 'pictures/all_tags' -%>
<!--Action content-->
<%= content_tag 'div', yield, :class => 'action-content' -%><%= %>
</body></html>
